@model LeaveRequestVM

@{
    ViewData["Title"] = "Details";
}


@if (Model.Approved == null)
{
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Pending Approval</h4>
    <p>
        <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong>  @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname 's Leave Request <br />
    </p>
    <hr/>
    <p>
        @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
    </p>
</div>
}
else if (Model.Approved == true)
{
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Approved</h4>
    <p>
        <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong> @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname  <br />
    </p>
    <hr />
    <p>
        @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
    </p>
</div>
}
else
{
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Rejected by @Model.ApprovedBy.Firstname @Model.ApprovedBy.Lastname</h4>
    <p>
        <strong>@Html.DisplayNameFor(model => model.RequestingEmployeeId):</strong> @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname <br />
    </p>
    <hr />
    <p>
        @Html.DisplayNameFor(model => model.DateRequested) - @Html.DisplayFor(model => model.DateRequested)
    </p>
</div>
}
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Approved == null)
    {
        <a class="btn btn-success" asp-action="ApproveRequest" asp-route-id="@Model.Id">
            <i class="fa fa-check"></i> Approve
        </a>
        <a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
            <i class="fa fa-remove"></i> Reject
        </a>
    }

    <a class="btn btn-outline-secondary" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Back to List
    </a>
</div>
