@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "MyLeave";
}

<h1>My Leave Allocations</h1>
<div class="jumbotron">
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                    <h6>@item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span>    </h6>
                </li>
            }
        </ul>
    </div>
</div>


<hr/>
<h1>My Leave Records</h1>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>
            
            <th>
                Approval State
            </th>
            
            <th>
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested, new { @value = item.DateRequested.ToString("yyyy-mm-dd") })
            </td>
            
            <td>
                @if (item.Cancelled)
                {
                    <span class="badge badge-secondary">Cancelled</span>
                }
                else if (item.Approved == true)
                {
                <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
           
            <td>
                @if ((!item.Cancelled && item.StartDate > DateTime.Now ))
                {
                        <a asp-action="CancelRequest" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this request?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
               }

            </td>
        </tr>
}
    </tbody>
</table>
